@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #FFFFFF;
  color: #000000;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

/*header*/

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.page-header-logo {
  width: 138px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 268px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
  list-style-type: none;
  align-items: center;
}

.navigation-user .navigation-item:not(:last-child) {
  width: 44px;
  height: 64px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 20px;
  height: 20px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 20px;
  height: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.main-index {
  flex-grow: 1;
}

/* Hero*/

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/Vector.svg"), url("../images/background/main-background.jpg");
  background-position: center bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.city {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 69px;
  margin-bottom: 25px;
}

.city-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
}

.wellcome-sedona {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
}

.advantages-item-img {
  width: 1200px;
  display: flex;
}

.img-content {
  width: 400px;
}

.advantages-title {
  margin-top: 103px;
  margin-bottom: 62px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advanteges-description {
  margin: 0;
  margin-bottom: 121px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-img {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-title-img {
  margin-top: 92px;
  margin-bottom: 62px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advanteges-description-img {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.services-title {
  position: relative;
  margin-top: 182px;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(1) .services-title::before {
  position: absolute;
  background-image: url("../images/accommodation.svg");
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -35px;
  width: 75px;
  height: 72px;
  bottom: 66px;
  content: "";
}

.services-item:nth-child(2) .services-title::before {
  position: absolute;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -35px;
  width: 75px;
  height: 72px;
  bottom: 66px;
  content: "";
}

.services-item:nth-child(3) .services-title::before {
  position: absolute;
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -35px;
  width: 75px;
  height: 76px;
  bottom: 66px;
  content: "";
}

.services-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  list-style-type: none;
}

.services-item {
  width: 400px;
}

.services-description {
  margin: 0;
  margin-bottom: 81px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/*search*/

.hotel-search {
  text-align: center;
  margin: 96px 0;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #FFFFFF;
  color: #333333;
}

/*newsletter*/

.newsletter {
  background-image: url("../images/background/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 104px;
}

.field {
  width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 14px 20px;
  background-color: #F2F2F2;
}

.newsletter-form {
  display: flex;
  width: 1200px;
  justify-content: center;
}

.newsletter-title {
  margin: 0;
  padding: 0;
  padding-top: 96px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

/*footer*/

.footer-social-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 720px;
  margin-left: 41px;
}

.footer-social-phone:hover {
  color: #756157;
}

.footer-social-phone:focus {
  color: #756157;
}

.footer-social-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 142px;
  margin: 0;
  padding: 0;
  margin-left: 70px;

}

.footer-social-item {
  position: relative;
  width: 47px;
  height: 40px;
}

.footer-social-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link-youtube {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus {
  fill: #68A2CA;
}

.footer-social-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link {
  width: 115px;
  margin-left: 41px;
  position: relative;
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.htmlacademy-icon:hover {
  fill: #756157;
}

.htmlacademy-icon:focus {
  fill: #756157;
}

.htmlacademy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*visually*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-nav {
  width: 160px;
  height: 36px;
  margin: 0;
  margin-left: 20px;
  padding: 8px 34px;
}

.button-big {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.button-brown {
  background-color: #756157;
}

.button-brown-small {
  padding: 8px 26px;
  width: 140px;
  height: 36px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  background-color: #E5E5E5;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue-small {
  width: 140px;
  height: 36px;
  padding: 8px 10px;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

.button-green {
  background-color: #7DB54F;
  padding: 8px 18px;
  width: 140px;
  height: 36px;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-green:disabled {
  background-color: #E5E5E5;
}

.button-hidden {
  background-color: transparent;
  margin-top: 32px;
  padding: 5px 57px;
}

.button-hidden:hover {
  opacity: 60%;
}

.button-hidden:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-hidden:disabled {
  opacity: 10%;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

.button-filter-blue {
  padding: 8px 50px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.like {
  background-color: #6C9E42;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding: 5px;
  position: absolute;
  margin: auto 0;
  top: 11px;
  align-content: center;
}

/*inner*/

.catalog-products-filter {
  background-image: url("../images/background/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
  padding: 35px 0 70px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  width: 250px;
  align-items: center;
  margin: 0;
  margin-left: 70px;
  margin-top: 8px;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

}

.breadcrumbs-item {
  position: relative;
  display: block;
  list-style-type: none;
  min-width: 13px;
  min-height: 15px;
  margin-right: 28px;
}

.breadcrumbs .breadcrumbs-item:first-child .breadcrumbs-link {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  width: 13px;
  height: 13px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: 2px;
  right: -18px;
  width: 8px;
  height: 11px;
  background-image: url("../images/arrow.svg");
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-products-filter-title {
  font-weight: 700;
  font-size: 60px;
  font-family: "PT Sans", sans-serif;
  line-height: 78px;
  color: #ffffff;
  width: 495px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}

/*filter*/
.catalog-filter {
  margin: 0;
  margin-top: 40px;
  display: flex;
  width: 1200px;
}

.catalog-filter-group {
  width: 150px;
  padding: 0;
  margin-left: 70px;
  margin-right: 0;
  flex-shrink: 0;
}

.catalog-products {
  width: 1060px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  color: #ffffff;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-price {
  width: 288px;
  margin-left: 140px;
  padding: 0;
  flex-shrink: 0;
}

.catalog-filter-price-title {
  font-weight: 700;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  color: #ffffff;
}

.button-filter {
  width: 191px;
  margin: 0;
  margin-left: 70px;
  margin-top: 56px;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.search-result-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 338px
}

/*product card*/
.result-select {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.select-control {
  width: 292px;
  margin-left: 200px;
  padding: 0;
}

.catalog-view {
  width: 160px;
  margin-left: 70px;
  padding: 0;
}

.catalog-view-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.catalog-view-item {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-view-item-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-view-item:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-view-item:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-view-item-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.catalog-view-item:not(:last-child) {
  margin-right: 8px;
}

.product-card {
  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.product-cards {
  background-color: #ffffff;
  padding: 20px;
}

.product-card-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-price {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-star-four {
  align-self: center;
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 89px;
  height: 17px;
}

.product-card-star-three {
  align-self: center;
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 65px;
  height: 17px;
}

.product-card-star-two {
  align-self: center;
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 41px;
  height: 17px;
}

.hotels-raiting {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.product-card-button {
  width: 140px;
}

/*pagination*/
.pagination {
  display: flex;
  width: 400px;
  padding: 0;
  margin-top: 80px;
  list-style-type: none;
  align-items: center;


}

.pagination-item {
  width: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-none {
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.pagination-link-none:hover {
  background-color: #FFFFFF;
}

.pagination-link-curren {
  align-items: center;
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-curren:hover {
  background-color: #F2F2F2;
}

/*footer inner*/

.newsletter-inner {
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 104px;
}

.newsletter-title-inner {
  margin: 0;
  padding: 0;
  padding-top: 96px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-description-inner {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
